In [44]:
import scipy.stats as stat
import pandas as pd
import numpy as np

In [4]:
data=pd.read_csv('Sales_data_zone_wise.csv')

In [5]:
data

         Month  Zone - A  Zone - B  Zone - C  Zone - D
0    Month - 1   1483525   1748451   1523308   2267260
1    Month - 2   1238428   1707421   2212113   1994341
2    Month - 3   1860771   2091194   1282374   1241600
3    Month - 4   1871571   1759617   2290580   2252681
4    Month - 5   1244922   1606010   1818334   1326062
5    Month - 6   1534390   1573128   1751825   2292044
6    Month - 7   1820196   1992031   1786826   1688055
7    Month - 8   1625696   1665534   2161754   2363315
8    Month - 9   1652644   1873402   1755290   1422059
9   Month - 10   1852450   1913059   1754314   1608387
10  Month - 11   2004480   1740365   1317869   1970069
11  Month - 12   1537539   1875658   1237722   1460165
12  Month - 13   1254939   1588473   1348629   1733383
13  Month - 14   1821799   1844081   1617376   1872259
14  Month - 15   1128185   1804613   1767047   1234311
15  Month - 16   1491534   1542053   1882159   1590913
16  Month - 17   1182110   1552388   2234469   2180416
17  Month - 18   1770324   1699213   1249821   2364132
18  Month - 19   1181635   1959268   2009168   1821882
19  Month - 20   1305972   1559670   2107949   2151008
20  Month - 21   1570152   2013615   1540016   2265814
21  Month - 22   1481619   1527574   2255729   2295079
22  Month - 23   1887694   1992155   1348387   1459683
23  Month - 24   1880820   1752873   2098463   2052591
24  Month - 25   1256333   1622671   1521792   1695122
25  Month - 26   1422853   1715465   1853636   1520406
26  Month - 27   1384426   1983163   1611169   1289160
27  Month - 28   1616640   1547991   2128022   2178267
28  Month - 29   1310654   1660092   1947119   1854412

# ● The mean sales generated by each zone.

In [7]:
data['Zone - A'].mean()

1540493.1379310344

In [8]:
data['Zone - B'].mean()

1755559.5862068965

In [9]:
data['Zone - C'].mean()

1772871.0344827587

In [10]:
data['Zone - D'].mean()

1842926.7586206896

# ● Total sales generated by all the zones for each month.

In [62]:

data.sum(axis=1)

C:\Users\Ashir\AppData\Local\Temp/ipykernel_5808/2588036079.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  data.sum(axis=1)

0     6027355038
1     6027614556
2     6026261828
3     6029658848
4     6025300606
5     6027612724
6     6027884166
7     6028942548
8     6026716740
9     6027566370
10    6027375516
11    6025532118
12    6025160798
13    6027620980
14    6025178262
15    6026323268
16    6027608716
17    6027476930
18    6027253856
19    6027559148
20    6028089144
21    6028429952
22    6026685788
23    6028879444
24    6025501786
25    6026334670
26    6025845786
27    6028251790
28    6026854504
dtype: int64

In [63]:
#index numbers with corresponding total sales represent respective month in dataframe

# ● Check whether all the zones generate the same amount of sales.

# 1a.Hypothesis

H0:Mean sales of Zone-A = Mean sales of Zone-B = Mean sales of Zone-C = Mean Sales of Zone-D

Ha:Atleast one of Mean sales of  Zone differ.

# b.Level of Significance

alpha=0.05

# 3.Identifying test statistics

In [52]:
Fstat,p_value=stat.f_oneway(data['Zone - A'],data['Zone - B'],data['Zone - C'],data['Zone - D'])

# 4.Determining p value

In [53]:
print(p_value)

0.0011827601694503335

# 5.Comparing p value to level of significance

In [54]:
if p_value<0.05:
    print('Reject Null hypothesis and accept alternate hypothesis i.e Ha:Atleast one of Mean sales of Zone differ')
else:
    print('Cannot Reject Null Hypothesis i.e H0:Mean sales of Zone-A = Mean sales of Zone-B = Mean sales of Zone-C = Mean Sales of Zone-D')

Reject Null hypothesis and accept alternate hypothesis i.e Ha:Atleast one of Mean sales of Zone differ